*::before,
*::after,
* {
  font-family: 'Bungee', cursive;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --sunglow-yellow: #ffd43a;
  --bakers-chocolate: #582c12;
  --orchid-purple: #d668e3;
  color: var(--bakers-chocolate);
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 212, 58);
  background: radial-gradient(
    circle,
    rgba(255, 212, 58, 1) 70%,
    rgba(88, 44, 18, 1) 100%
  );
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sketch-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#canvas {
  width: 70vh;
  height: 70vh;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  background-color: #ffffff;
  border: solid var(--bakers-chocolate);
}

.pixel {
  cursor: crosshair;
}

.menu {
  color: var(--primary-clr-1);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 7rem;
  width: 70vh;
  margin-top: 1rem;
  background: rgb(88, 44, 18);
  background: linear-gradient(
    0deg,
    rgba(88, 44, 18, 1) 0%,
    rgba(253, 187, 45, 1) 30%
  );
}

.btn-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  font-size: 0.9rem;
}

.slider {
  appearance: none;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
}

#canvas,
.menu,
.slider,
.menu-btn {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.menu,
.slider {
  border-radius: 2rem;
  border: solid var(--bakers-chocolate);
}

.menu-btn,
#colorpicker {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.menu-btn {
  width: 2.4rem;
  height: 2.4rem;
}

.menu-btn:active {
  background-color: var(--bakers-chocolate);
  border: solid var(--orchid-purple);
}

.menu-btn,
#colorpicker::-webkit-color-swatch,
.slider::-webkit-slider-thumb {
  border: solid 3px var(--bakers-chocolate);
  background-color: var(--orchid-purple);
  border-radius: 50%;
}

.pixel {
  user-select: none;
}

@media screen and (max-width: 630px), screen and (max-height: 600px) {
  * {
    font-size: 0.8rem;
  }

  .card-header {
    font-size: 1.25rem;
  }

  #canvas {
    width: 300px;
    height: 300px;
  }

  .menu {
    width: 300px;
  }

  .menu-btn,
  #colorpicker {
    width: 2rem;
    height: 2rem;
  }

  label {
    font-size: 0.6rem;
  }
}
