*::before,
*::after,
* {
  font-family: "Bungee", cursive;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --primary-clr-1: #eae7dc;
  --primary-clr-2: #d8c3a5;
  --secondary-clr-1: #8e8d8a;
  --secondary-clr-2: #e98074;
  --secondary-clr-3: #e85a4f;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-clr-3);
  background-color: var(--primary-clr-2);
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sketch-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sketch-container {
  width: 70vh;
  height: 70vh;
  border: solid 2px var(--secondary-clr-3);
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  background-color: var(--primary-clr-1);
}

.pixel {
  cursor: crosshair;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 7rem;
  width: 70vh;
  margin-top: 1rem;
  border: solid 2px var(--secondary-clr-3);
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  font-size: 0.9rem;
}

.slider {
  appearance: none;
  background-color: var(--secondary-clr-2);
  border: solid 1px var(--secondary-clr-3);
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 1rem;
  height: 1rem;
  background: var(--primary-clr-1);
  cursor: pointer;
  border: solid 1px var(--secondary-clr-3);
}

#eraser,
#colorpicker,
#rainbow,
#clear {
  width: 3rem;
  height: 3rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#eraser,
#rainbow,
#clear {
  background-color: var(--primary-clr-1);
  width: 2.6rem;
  height: 2.6rem;
}

#rainbow,
#clear {
  background-color: var(--secondary-clr-2);
}

#colorpicker::-webkit-color-swatch,
#eraser,
#rainbow,
#clear {
  border: solid 2px var(--secondary-clr-3);
}

.menu,
#eraser,
#colorpicker::-webkit-color-swatch,
.slider,
.slider::-webkit-slider-thumb,
#rainbow,
#clear {
  border-radius: 4rem;
}

.pixel {
  user-select: none;
}

@media screen and (max-width: 550px) {
  #sketch-container {
    width: 400px;
    height: 400px;
  }

  .menu {
    width: 80vw;
  }

  #eraser,
  #colorpicker,
  #rainbow,
  #clear {
    width: 1.7rem;
    height: 1.7rem;
  }

  label {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 620px), screen and (max-height: 600px) {
  * {
    font-size: 0.8rem;
  }

  .card-header {
    font-size: 1.25rem;
  }

  #sketch-container {
    width: 300px;
    height: 300px;
  }

  .menu {
    width: 300px;
  }

  #eraser,
  #colorpicker,
  #rainbow,
  #clear {
    width: 1.7rem;
    height: 1.7rem;
  }

  label {
    font-size: 0.6rem;
  }
}
